[submodule "vault-management/second-brain-web-search"]
	path = vault-management/second-brain-web-search
	url = git@github.com:ammarhusain/second-brain-web-search.git
[submodule "code-junkyard"]
	path = code-junkyard
	url = ./code-junkyard
