<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.autocommit</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/ammarh/Library/Mobile Documents/iCloud~md~obsidian/Documents/tech/code-junkyard/auto-commit.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>8</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/ammarh/Library/Mobile Documents/iCloud~md~obsidian/Documents/tech/code-junkyard/autocommit.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/ammarh/Library/Mobile Documents/iCloud~md~obsidian/Documents/tech/code-junkyard/autocommit.error.log</string>
</dict>
</plist>
